In [1]:
import pandas as pd

In [2]:
cars_data = pd.read_csv("Cars Data.csv")
cars_data

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

In [3]:
cars_data.shape

(428, 15)

In [4]:
# find null values and replace them with the mean of the column
cars_data.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

Only Cylinders has null values and they're 2.

In [5]:
cars_data['Cylinders'].mean()

5.807511737089202

In [6]:
cars_data['Cylinders'].fillna(cars_data['Cylinders'].mean(), inplace = True)

In [7]:
cars_data.isnull().any()

Make           False
Model          False
Type           False
Origin         False
DriveTrain     False
MSRP           False
Invoice        False
EngineSize     False
Cylinders      False
Horsepower     False
MPG_City       False
MPG_Highway    False
Weight         False
Wheelbase      False
Length         False
dtype: bool

No null values left.

#### Exploring further:

In [8]:
cars_data['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Mitsubishi       13
Dodge            13
Volvo            12
Jaguar           12
Hyundai          12
Kia              11
Pontiac          11
Subaru           11
Lexus            11
Mazda            11
Buick             9
Mercury           9
Lincoln           9
GMC               8
Suzuki            8
Saturn            8
Cadillac          8
Infiniti          8
Saab              7
Acura             7
Porsche           7
Jeep              3
Oldsmobile        3
Land Rover        3
Isuzu             2
Scion             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [9]:
cars_data['Make'].describe()

count        428
unique        38
top       Toyota
freq          28
Name: Make, dtype: object

In [10]:
cars_data['Type'].value_counts()

Sedan     262
SUV        60
Sports     49
Wagon      30
Truck      24
Hybrid      3
Name: Type, dtype: int64

In [11]:
cars_data['Origin'].value_counts()

Asia      158
USA       147
Europe    123
Name: Origin, dtype: int64

In [12]:
# Show all cars from Asia and Europe
asia_europe = cars_data[(cars_data['Origin'].isin(['Asia', 'Europe']))]
asia_europe

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

In [13]:
# remove all records where the weight is above 4000
cars_below_4000 = cars_data[~(cars_data['Weight'] > 4000)]

In [14]:
cars_below_4000.shape

(325, 15)

In [15]:
# increase all the values of MPG_City by 3
cars_data['MPG_City'] = cars_data['MPG_City'].apply(lambda x : x+3)

In [16]:
cars_data['MPG_City']

0      20
1      27
2      25
3      23
4      21
       ..
423    24
424    23
425    22
426    25
427    23
Name: MPG_City, Length: 428, dtype: int64

In [17]:
cars_data['MSRP'] = cars_data['MSRP'].map(lambda x : x.replace('$', ''))
cars_data['MSRP'] = cars_data['MSRP'].map(lambda x : int(x.replace(',', '')))

In [18]:
cars_data['Invoice'] = cars_data['Invoice'].map(lambda x : x.replace('$', ''))
cars_data['Invoice'] = cars_data['Invoice'].map(lambda x : int(x.replace(',', '')))

In [19]:
# quantitative analysis on the recommended retail price for all cars
cars_data['MSRP'].describe()

count       428.000000
mean      32774.855140
std       19431.716674
min       10280.000000
25%       20334.250000
50%       27635.000000
75%       39205.000000
max      192465.000000
Name: MSRP, dtype: float64

In [20]:
cars_data['Invoice'].describe()

count       428.000000
mean      30014.700935
std       17642.117750
min        9875.000000
25%       18866.000000
50%       25294.500000
75%       35710.250000
max      173560.000000
Name: Invoice, dtype: float64

In [21]:
cars_data['MPG_City'].max()

63

In [24]:
cars_data[cars_data['MPG_City'] == 63]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,19110,17911,2.0,3.0,73,63,66,1850,95,155

In [25]:
cars_data['MPG_Highway'].max()

66

In [26]:
cars_data[cars_data['MPG_Highway'] == 66]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,19110,17911,2.0,3.0,73,63,66,1850,95,155

In [32]:
cars_data['EngineSize'].max()

8.3

In [33]:
cars_data[cars_data['EngineSize'] == 8.3]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
114,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,81795,74451,8.3,10.0,500,15,20,3410,99,176

In [35]:
cars_data['Horsepower'].max()

500

In [36]:
cars_data[cars_data['Horsepower'] == 500]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
114,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,81795,74451,8.3,10.0,500,15,20,3410,99,176

In [37]:
cars_data['Weight'].min()

1850

In [38]:
cars_data[cars_data['Weight'] == 1850]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
150,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,19110,17911,2.0,3.0,73,63,66,1850,95,155

In [44]:
cars_data.groupby('Origin').agg({'Invoice': 'sum'}).sort_values('Invoice', ascending = False)

        Invoice
Origin
Europe  5460595
USA     3814553
Asia    3571144

In [62]:
cars_data.drop('Invoice binned')

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Invoice binned,MSRP binned
0,Acura,MDX,SUV,Asia,All,36945,33337,3.5,6.0,265,20,23,4451,106,189,"(26243.5, 42612.0]","(28498.5, 46717.0]"
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,21761,2.0,4.0,200,27,31,2778,101,172,"(9711.315, 26243.5]","(10097.815, 28498.5]"
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,24647,2.4,4.0,200,25,29,3230,105,183,"(9711.315, 26243.5]","(10097.815, 28498.5]"
3,Acura,TL 4dr,Sedan,Asia,Front,33195,30299,3.2,6.0,270,23,28,3575,108,186,"(26243.5, 42612.0]","(28498.5, 46717.0]"
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,39014,3.5,6.0,225,21,24,3880,115,197,"(26243.5, 42612.0]","(28498.5, 46717.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,38203,2.4,5.0,197,24,28,3450,105,186,"(26243.5, 42612.0]","(28498.5, 46717.0]"
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,40083,2.3,5.0,242,23,26,3450,105,186,"(26243.5, 42612.0]","(28498.5, 46717.0]"
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,42573,2.9,6.0,268,22,26,3653,110,190,"(26243.5, 42612.0]","(28498.5, 46717.0]"
426,Volvo,V40,Wagon,Europe,Front,26135,24641,1.9,4.0,170,25,29,2822,101,180,"(9711.315, 26243.5]","(10097.815, 28498.5]"
427,Volvo,XC70,Wagon,Europe,All,35145,33112,2.5,5.0,208,23,27,3823,109,186,"(26243.5, 42612.0]","(28498.5, 46717.0]"